<!DOCTYPE html>
<html>	
	<head>
		<link rel='stylesheet', href='styles/style.css', type='text/css', crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet"> 
	</head>
	<body>
		<div1>
			<script type="text/javascript" src="/scripts/p5.min.js"></script>
			<script type="text/javascript" src="/scripts/sortingHeader.js"></script>
		</div1>
	
	
		<div style="text-align: center; padding: 0px; margin: 0px;">
			<a class="button3" href="http://localhost:8080/"> dawsontheroux.ca</a>
		</div>
		<h1>
			<a class="button1" href="http://localhost:8080/#AboutMe"> About Me </a>
			<a class="button1" href="http://localhost:8080/#Projects"> Projects </a>
			<a class="button1" href="https://github.com/DawsonTheroux" target="_blank"> Github </a>
			<a class="button1" href="https://www.linkedin.com/in/dawson-theroux-25b55b165/" target="_blank"> LinkedIn </a>
			<a class="button1" href="http://localhost:8080/contact"> Contact <a>
			<a class="button1" href="http://localhost:8081/"> President Game</a>
		</h1>
	</body>
</html>